html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shriker {
    z-index: 5;
    display: none;
}

.Bar-menu {
    border: none;
    background: transparent;
}

.Bar-menu .fas {
    font-size: 20px;
    color: black;
    border: none !important;
}

.navbar {
    z-index: 11;
    border-bottom: 1px solid #aeaeae;
}

.navview {
    background-color: white;
}

* {
    box-sizing: border-box;
}

.bar-logo {
    float: left;
}

.Bar-menu {
    display: none;
    float: right;
    color: black;
}

.menu {
    font: 10px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    z-index: 5;
}

.menu .fab {
    font-size: 12px;
    padding-right: 5px;
    border-right: 1px solid #fff;
    margin-right: 5px;
}

.background-img {
    background-image: url(../images/bg-1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 200px;
}

.hero-content {
    padding-top: 200px;
    height: 100%;
    width: 100%;
}

.pr5 {
    padding-right: 5%;
}

.pl5 {
    padding-left: 5%;
}

.white {
    color: white;
}

.hero-subheading {
    font: 500 10px/1 'Montserrat', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

.h1-lg {
    font: 400 130px/1 'Peace Sans';
    letter-spacing: .5px;
    text-transform: uppercase;
    /*    font-family: 'Righteous', cursive;*/
}

.mb10 {
    margin-bottom: 10px;
}

.h5-md {
    font: 200 18px/1.65em 'Nunito Sans', sans-serif;
}

.mb20 {
    margin-bottom: 20px;
}

.btn-hero {
    font-size: 10.5px;
    background-color: rgba(190, 208, 148, 0.8);
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 500;
    transition: all .2;
    padding: 17px 37px 17px 37px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 5px;
}

.btn-hero:hover {
    background-color: rgba(190, 208, 148, 0.4);
    color: #fff !important;
}

h5 {
    font: 600 10px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.85)
}

.menu-a {
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #aeaeae;
}

.A {
    text-decoration: underline !important;
    color: #aeaeae !important;
}

.story-text {
    font: 300 20px/1.55em 'Nunito Sans', sans-serif;
    width: 70%;
    margin: 0 auto;
}

.link {
    font: 400 14px/1.6em 'Nunito Sans', sans-serif;
    color: #aeaeae;
}

.h2-md {
    letter-spacing: -1px;
    font: 600 45px/1.2em 'Montserrat';
}

.bgcol {
    background-color: #f2f4ec;
}

.bgC1 {
    background-image: url(../images/bg-1.jpg);
    height: 180px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    transition: opacity .2s;
}

.card {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .07);
    border: none;
}

.card:hover {
    box-shadow: 0px 15px 50px rgba(0, 0, 0, .1);
}

.h3-md {
    font: 600 22px/1.1em 'Montserrat', sans-serif;
    letter-spacing: -.5px;
}

.h5-sm {
    font: 400 15px/1.65em 'Nunito Sans', sans-serif;
    /*    width: 70%;*/
    /*    margin: auto;*/
}

.card-a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, .85) !important;
    font: 600 10px/1 'Montserrat', sans-serif;
}

.card-a:hover {
    color: rgba(0, 0, 0, .5) !important;
}

.card-image {
    display: table;
}

.fontaw {
    display: table-cell;
    vertical-align: middle;
}

.fontaw:hover {
    transform: translateY(-5px);
    transition: all;
    transition-duration: .2s;
}

.fontaw i {
    font-size: 50px;
    color: white;
}

.btn-ghost-black {
    letter-spacing: 1px;
    border-radius: 50px;
    font: 600 10.5px/1 'Montserrat', sans-serif;
    padding: 17px 37px 17px 37px;
    border: 1px solid rgba(0, 0, 0, .15);
    margin-top: 15px;
    background-color: transparent;
    transition: all .2s;
}

.btn-ghost-black:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #000;
    font-weight: 500;
    transition: all;
    transition-duration: .5s;
}

.get-in {
    font: 400 14px/1.6em 'Nunito Sans', sans-serif;
    color: #aeaeae;
    margin: 0 0 10px;
}

.section-heading {
    width: 100%;
    position: relative;
}

.gellery-title {
    font: 600 45px/1.2em 'Montserrat';
    letter-spacing: -1px;
}

.sub-heading {
    position: absolute;
    margin: auto;
    top: 47px;
    left: 0;
    font: 600 10px/1 'Montserrat', sans-serif;
    right: 0;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .85);
}

.port-menu {
    font: 600 10px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.port-menu:hover {
    color: rgba(0, 0, 0, .5);
    transition: all .3s;
}

.item-caption {
    height: 96%;
    width: 96.5%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.item-caption:hover {
    background-color: white;
    transition: all;
    transition-duration: .5s;
    opacity: 1;
}

.item-desc {
    position: absolute;
    width: 100%;
    top: 50%;
}

.subheading {
    font: 600 10px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .85);
    margin: 0;
    padding: 0;
}

.icon {
    width: 20%;
}

.icon i {
    font-size: 70px;
}

.icon i:hover {
    color: #aeaeae;
}

.icon-desc {
    width: 70%;
    float: right
}

.icon-desc p {
    font: 400 14px/1.6em 'Nunito Sans', sans-serif;
    color: #000;
    line-height: 22.4px;
    font-weight: 400;
}

@media only screen and (max-width:768px) {
    .menu-ui {
        display: none;
    }
    .Bar-menu {
        display: block;
    }
    .h1-lg {
        font: 400 40px/1 'Peace Sans';
    }
    .shriker {
        display: block;
    }
}